<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>

  <!-- 스크립트는 딱 1번만 -->
  <script defer src="/js/home/login.js"></script>
</head>
<body>
  <input id="id" type="text" placeholder="아이디" /><br>
  <input id="psword" type="password" placeholder="비밀번호" /><br>
  <button id="loginBtn" type="button">로그인</button>
</body>
</html>
